<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--mainServlet-->
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>web.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


    <!--错误处理-->
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <!--此处是绝对路径，特殊的地方是，比如你在eclipse中，应该写/netctoss/WEB-INF/public/error.jsp
            但是由于是转发过去的，只能访问此项目内部的资源，所以Tomcat会自动加上项目名，在eclipse中，
            此处应写成/WEB-INF/public/error.jsp
        -->
        <location>/WEB-INF/public/error.jsp</location>
    </error-page>

    <!--权限检查-->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>web.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
</web-app>